.WeatherForecast {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.WeatherForecast .ForecastIcon img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 5px 5px 5px 20px;
}

.ForecastTemps {
  position: relative;
  bottom: 50px;
}
.ForecastMin {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast .daily {
  width: 100px;
}
